* {
    margin: 0; padding: 0; 
}


/***** NAVIGATION STYLES *****/


.nav_div{
    border-bottom: 5px solid black;
}

.nav_bar{
    margin-bottom: 20px;
}

/* rosmini logo */
.logo{
    width:300px;
    margin-left:5px;
    margin-top:5px;
}

.motto{
    font-size: 50px;
    font-family: "Archivo Black";
    color:black;
    text-align: center;
    margin-top: -90px;
    padding-left: 250px;
}

/* Nav Buttons */

/* button styles */
.nav_button{
    font-size: 18px;
    background:#0054a2;
    color:white;
    border-radius: 8px;
    border:none;
    font-family: "Arial";
    font-weight:bold;
    text-align: center;
    padding:6px;
    width:190px;
}

.nav_button_div{
    padding:3px;
    display:flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.navlinks{
    color:white;
    text-decoration: none;
}


/***** HOME PAGE STYLES *****/


/* Carousel*/

/* makes images fit on carousel */
.w-100{
    height: 620px;
    object-fit: cover;
}

/* Home page text/info styles */

.intro_text{
    text-align: center;
    color:black;
    margin:30px 100px 100px 100px;
}

.info_text{
    float: left;
    margin-left: 130px;
    margin-right: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 150px;
}

.quote{
    text-align: center;
    margin: 400px 50px 100px 50px;
    background-color:#0054a2;
    color: white;
    padding: 50px;
    box-shadow: 5px 10px 8px #888888;
    font-family: 'Times New Roman';
}


/***** SPORTS PAGE STYLES *****/


/** Sports Images **/

/* images table */
.sports_images_div {
    display: grid;
    place-items: end;
}
  
/* image scale and fit */
.sports_img {
    width: 330px;
    height: 300px;
    object-fit: cover;
    box-shadow: 5px 10px 8px #888888;
    border-width: medium;
    border-style: solid;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-right: 30px;
}

/** Sports Text **/

.sport_header{
    color: black;
    text-align: center;
    padding-bottom: 20px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 20px;
    font-size: 25px;
}

/* sports text on the left of the page */
.sport_text_div{
    float:left;
    width:770px;
    height: 960px;
    background-color: #0054a2;
    color:white;
    margin-left:20px;
    padding: 20px;
    border-radius: 10px;
}


/***** STAFF PAGE STYLES *****/


/** Staff Images **/

/* staff images row 1 */
.staffrow1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* staff images row 2 */
.staffrow2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* staff image scale + when hovered over zooms in with a shadow */
.teacher{
    width: 300px;
    height: 400px;
    transition: transform 0.2s;
}

.teacher:hover{
    transform: scale(1.1);
    box-shadow: 5px 10px 8px #888888;
}


/** Staff Text **/

/* makes both text go into middle and category text between images */
.staff_category{
    text-align: center;
    padding-top: 180px;
    padding-bottom: 200px;
    border-radius: 10px;
    color: black;
}

.staff_heading{
    text-align: center;
    font-weight: bold;
    font-size: 70px;
    margin-top: 50px;
    margin-bottom: 70px;
    color: black;
}

/***** FOOTER STYLES *****/

/* adjusts scale of footer size */
.foot_div{
    background: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.contact_us{
    margin: 0;
}

/* footer links columns */
.foot_links1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color:white;
    text-decoration: none;
}

.contactinfo{
    margin: 0;
    text-align: center;
}

/* makes footer links white instead of blue */
.footlinkcolor{
    color: white;
    text-decoration: none;
}


