* {
    margin: 0; padding: 0; 
}

/* Navigation styles */

.nav_div{
    border-bottom: 5px solid black;
}

.logo{
    width:300px;
    margin-left:7px;
    margin-top:7px;
}

.motto{
    float:right;
    font-size: 60px;
    margin-right: 350px;
    margin-top:13px;
    font-family: "Archivo Black";
}

.nav_button{
    font-size: 18px;
    background:#0054a2;
    color:white;
    border-radius: 8px;
    border:none;
    font-family: "Arial";
    font-weight:bold;
    text-align: center;
    padding:6px;
    margin-right:87.5px;
    width:195px;
    height:auto;
}

.nav_button_div{
    padding:3px;
}

/* Home Page Styles */

.home_background{
    width: 50%;
    height:640px;
    opacity:0.3;
    object-fit: cover;
}

.carousel{
    width: 50%;
    float:right;
}