* {
    margin: 0; padding: 0; 
}
.nav_div{
    border-bottom: 6px solid black;
}

.motto{
    float:right;
    font-size: 60px;
}

.nav_button{
    font-size: 23px;
    background:#0054a2;
    color:white;
    border-radius: 8px;
    border:none;
    font-family: "Arial";
    font-weight:bold;
    text-align: center;
    padding:6px;
}

.nav_button_div{
    padding:10px;
}